#menu{
	width: 35px;
	height: 35px;
	margin: 8;
	position: absolute;
	z-index: 2;
    right: 5px;
    top: 10px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: brown;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}